table.projects.projects_list.w-full
    colgroup
        col(class="w-[1px]")
        col
        col
        col
        col
        col(class="w-[1px]")
    thead.projects__header
        tr
            th
            th: button.projects__sort(type="button")
                span Проект
                span.icon.size-4.icon-sort-down
            th: button.projects__sort(type="button")
                span Дата
                span.icon.size-4.icon-sort-up
            th: button.projects__sort(type="button")
                span Категория
                span.icon.size-4.icon-sort-down
            th: button.projects__sort(type="button")
                span Заказчик
                span.icon.size-4.icon-sort-down
            th: span.projects__sort Результат
    tbody.projects__body
        each project in projects
            tr.projects__item
                td
                    button(type="button", class=`js-toggle-favorite ${project.is_favorite ? 'js-toggle-favorite_active' : ''} cursor-pointer inline-block size-7`)
                        span(class='inline-block size-7 icon icon-star-active')
                        span(class='inline-block size-7 icon icon-star-empty')
                td.projects__title
                    a.projects__link(href="view.html") !{project.title}
                td=project.date
                td=project.category
                td=project.client
                td
                    .flex.items-center.gap-3
                        a.size-6.icon.icon-docs-yandex-disk(href="https://ya.ru", target="_blank")
                        div(class="h-5 w-px bg-[#EEE] opacity-90")
                        a.size-6.icon.icon-docs-figma(href="https://ya.ru", target="_blank")
